Prototipo C.C/PROTOTIPO C.C/Web References/net.azurewebsites.cuentascorrientes/WebServiceCC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://cuentascorrientes.azurewebsites.net" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://cuentascorrientes.azurewebsites.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cuentascorrientes.azurewebsites.net">
      <s:element name="Resultados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sTipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCod" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResultadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResultadosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ResultadosSoapIn">
    <wsdl:part name="parameters" element="tns:Resultados" />
  </wsdl:message>
  <wsdl:message name="ResultadosSoapOut">
    <wsdl:part name="parameters" element="tns:ResultadosResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceCCSoap">
    <wsdl:operation name="Resultados">
      <wsdl:input message="tns:ResultadosSoapIn" />
      <wsdl:output message="tns:ResultadosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceCCSoap" type="tns:WebServiceCCSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Resultados">
      <soap:operation soapAction="http://cuentascorrientes.azurewebsites.net/Resultados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceCCSoap12" type="tns:WebServiceCCSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Resultados">
      <soap12:operation soapAction="http://cuentascorrientes.azurewebsites.net/Resultados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceCC">
    <wsdl:port name="WebServiceCCSoap" binding="tns:WebServiceCCSoap">
      <soap:address location="http://cuentascorrientes.azurewebsites.net/WebServiceCC.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceCCSoap12" binding="tns:WebServiceCCSoap12">
      <soap12:address location="http://cuentascorrientes.azurewebsites.net/WebServiceCC.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>